src/cognarai/_version.py
src/cognarai/assets/
src/cognarai/mpc/mfr/data/
src/cognarai/mpc/mfr/*.pkl
.idea/
*.egg-info/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*.zip
*bku.yaml
ACTIVATE_ISAAC_ENV.sh
ACTIVATE_ISAAC_LAB_ENV.sh
